*{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.didi{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.sect1{
    width:360px;
    padding:32px;
    border-radius:13px;
    box-shadow:0 10px 30px;
}
.desc1{
    text-align: center;
    color:#57606a;
    font-size:16px;
}
.desc {
    text-align: center;
    color: #57606a;
    font-size: 12px;
}
.log{
    color:green;
    font-size:30px;
    font-weight:bold;
    margin-bottom:15px;
    text-align: center;
}
h1{
    font-size:22px;
    margin-bottom:20px;
    text-align: center;
}
.form{
    text-align: left;
    margin-bottom: 15px;
}
label{
    display:block;
    margin-bottom: 6px;
    font-size: 15px;
}
.boxagree{
    margin:15px 0;
    font-size:15px;
}
.butt{
    width: 100%;
    padding: 12px;
    background-color: green;
    color:white;
    border:none;
    border-radius: 25px;
    font-size:16px;
}
.buttontext{
    color: grey;
}
.buttontext a:hover{
    text-decoration: underline;
}
.acc{
    color:green;
}
.agree{
    color:green;
}