body{
    background-color:darkseagreen;
    font-family:Arial;
}
h1{
    color:brown;
    font-size:50px;
    text-align:center;
}
h3 {
    color:pink;
}
p{
    font-size:25px;
}
#profile{
    background-color: crimson;
    padding:20px;
}
a{
    color:blue;
}
a:hover{
    color:greenyellow;
}
ul{
    font-size:25px;
    padding-left:30px;
}
ol{
    font-size:25px;
    padding-left:30px;
}
th, td{
    border:5px solid black;
    padding:10px;
}